
/*** Filtri 1 2 3 ***/		
#options{float:left; width:100%;}
#filters{width: 220px;height:50px;margin:0 auto;}
#filters li	{display:inline-block;margin:0 2px 0 0;padding:0;width:40px;}
#filters li	a{ width:44px; height:50px; display:block;margin:0;position:relative;text-transform:capitalize; text-decoration:none }

	#f-all{background:url("../img/all.png") no-repeat center center;}
	#f-one{background:url("../img/one.png") no-repeat center top;}
	#f-two{background:url("../img/two.png") no-repeat center top;}
	#f-three{background:url("../img/three.png") no-repeat center top;}
	
	a#f-one:hover{background:url("../img/one.png") no-repeat  center bottom;}
	a#f-two:hover{background:url("../img/two.png") no-repeat  center bottom;}
	a#f-three:hover{background:url("../img/three.png") no-repeat center bottom;}
	
	
	#filters a span{background: url("../img/tooltip.png") no-repeat center center;color:#fff;font-size:11px;font-family:arial; font-weight:bold;top:-10px;position:absolute;opacity: 0;width:100%;text-align:center;padding: 0px 2px 2px 2px;
	/* animation */-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}

	#filters li a:hover span {opacity: 1;}
	.selected{background-position: bottom !important}
	.selected span{opacity: 1 !important}
	
#iso-content{float:left; width:100%;margin: 0px 20px;}


.element {width: 230px;overflow:hidden;margin: 5px;float: left;position: relative;background: #111;color: #222;box-shadow: 0 1px 3px #111; -moz-box-shadow: 0 1px 2px  #111; -webkit-box-shadow: 0 1px 3px  #111;}
.element.one{height:150px;}
.element.two{height:175px;}
.element.three{height:200px;}

.element img{margin-bottom:-5px; -webkit-transition: all 0.50s ease-out;-moz-transition: all 0.50s ease-out;-o-transition: all 0.50s ease-out;-ms-transition: all 0.50s ease-out;transition: all 0.50s ease-out;}
.element .icon{position:absolute;z-index:12; left:10px; font-size:20px; top:7px;  width:10px; height:10px;display:block;  }

/*** etichette ***/
.element .one{color: #00ff65; }
.element .two{color: #00fffe;}
.element .three{color: #ff0099;}

	.element .text-el{position:absolute; overflow:hidden; z-index:11; background: url(../img/bg-header.png); color:#545454;bottom:0;width:200px; height:25px; padding: 8px 0 0px 30px;display:block;margin:0; 
	/* animation */transition: height ease-in-out 300ms;-o-transition: height ease-in-out 300ms;-moz-transition: height ease-in-out 300ms;-webkit-transition: height ease-in-out 300ms;}
  
  	.element .text-el h1{margin:0;padding:0; font-size:13px;color:#fff;}
  	.element .text-el p{font-weight: normal;margin-top:4px;color:#fff;}

 	.element a:hover .text-el{height: 100px; /* height = total height of A and P child elements */}
 	.element a:hover img{opacity:0.2}


/************************************************************************************
CLEARFIX
*************************************************************************************/
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-block; }
.clearfix { display: block; zoom: 1; }

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */
		







